<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link rel="stylesheet" type="text/css" href="./home.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center;">Leaflet with EJS</h1>
    <div id="map" style="height: 460px; width: 760px; margin: auto">L</div>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script>
      var coordinate = JSON.parse("<%= lokasi %>");
      var marker1 = JSON.parse("<%= marker1 %>");
      var marker2 = JSON.parse("<%= marker2 %>");
      var marker3 = JSON.parse("<%= marker3 %>");
      var map = L.map("map").setView(coordinate, 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      L.marker(marker1).addTo(map).bindPopup("<%= pesanMarker1 %>");
      L.marker(marker2).addTo(map).bindPopup("<%= pesanMarker2 %>");
      L.marker(marker3).addTo(map).bindPopup("<%= pesanMarker3 %>");
    </script>
  </body>
</html>
